/* styling for blog website */

body {
    font-family: monospace;
    margin: 0;
    padding: 20px;
    padding-right: 40px;
    background-color: #8458B3;
    color: #e5eaf5;
    font-size: 15px;
}

h1 {
    color: #e5eaf5;
}

form {
    margin: 20px 0;
}

input, textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    background-color: #a0d2eb;
}

button {
    padding: 10px 20px;
    background-color: #494D5F;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #e5eaf5;
    color: #494D5F;
}
